/* Sections */
.sec1 {
    margin: 0px 5vw;
}
.sec2 {
    background-color: var(--color-type-2);
    padding: 5vh 5vw;
}
.sec3 {
    margin: 6vh 5vw;
    display: flex;
    flex-direction: column;
}
.sec3_head {
    align-self: center;
    margin-bottom: 20px;
}
.sec3_head h1 {
    font-size: 2rem;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: var(--hr-color);;
}
.sec3_head hr {
    border: none;
    background-color: var(--second-color);
    height: 2px;
}

/* Article 1 */
.art1 {
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: flex-end;
    align-items: center;
    animation: fadeIn 1s ease-out forwards;
}
.art1 h1 {
    color: var(--second-color);
    font-family: "Inter";
    font-size: 2.2rem;
    font-weight: 400;
}
.art1 h3 {
    margin-top: 20px;
    width: 60vw;
    font-size: 1rem;
    font-weight: 200;
    text-align: center;
    font-family: "Inter", sans-serif;
    margin-bottom: 9vh;
    color: var(--third-color);
}
.art1 p {
    font-size: 1.2rem;
    font-family: sans-serif;
    letter-spacing: 2px;
    color: var(--first-color);
}

/* Article 2 */
.art2 {
    display: flex;
    background-color: var(--color-type-1);
    padding: 2vw 0px;
    border-radius: 10px;
    border: 1px solid var(--hr-color);
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    margin-bottom: 8vh;
    animation: fadeInFromBottom 1s ease-out forwards;
}
.art2 div {
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.art2 div img {
    width: 75px;
    height: 75px;
    filter: var(--bright-50);
}
.art2 div h3 {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: var(--second-color);
    padding-top: 15px;
}
.art2 div p {
    font-family: "Inter", sans-serif;
    font-weight: 100;
    font-size: 0.9rem;
    color: var(--third-color);
}
.art2 hr {
    height: 10vh;
    border: none;
    width: 1px;
    background-color: var(--hr-color);
}

/* Article 3 */

/* Article 4 */
.art4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeInFromTop 1s ease-out forwards;
}
.art4_top h1 {
    font-size: 2rem;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: var(--hr-color);
}
.art4_top hr {
    border: none;
    background-color: var(--second-color);
    height: 2px;
}
.art4_bottom {
    margin-top: 30px;
    font-family: "Inter", sans-serif;
    padding: 20px;
    background-color: var(--color-type-1);
    border-radius: 10px;
}
.art4_bottom h2 {
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--third-color);
}
.art4_bottom p {
    font-weight: 200;
    padding-top: 10px;
}

/* Article 5 */
.art5 {
    display: flex;
    justify-content: space-between;
    font-family: "Inter";
    font-weight: 200;
}
.art5 > div {
    width: 43vw;
    background-color: var(--color-type-1);
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
}
.art5_div1 {
    animation: fadeInFromLeft 1s ease-out forwards;
}
.art5_div2 {
    animation: fadeInFromRight 1s ease-out forwards;
}
.art5_head {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}
.art5_head img {
    width: 50px;
    height: auto;
    filter: var(--invert-1);
}
.art5_head h2 {
    font-weight: 400;
    font-size: 1.8rem;
    padding-left: 15px;
    color: var(--third-color);
}
.art5 > div > ul {
    padding-left: 20px;
}
.art5 > div > ul > li {
    padding: 10px 0px;
}

/* Article 6 */
.art6 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: fadeIn 1s ease-out forwards;
}
.art6 div {
    font-family: "Inter", sans-serif;
    padding-right: 5vw;
    font-weight: 200;
}
.art6 img {
    width: 15vw;
    border: 10px solid #e4e4e4;
}