/* Header Reset */
header img, .nav_ext{
    display: none;
}
header {
    background:#0b141f;
    justify-content: center;
    padding: 10px 0px;
}
header a {
    color: #fff;
    font-family: "Inter", sans-serif;
    font-weight: 300;
}
header a:hover {
    background-color: transparent;
    color: #ff4654;
    border-radius: 20px;
}
.sub-nav {
    background-color: #0b141f;
    border: none;
    border-radius: 20px;
}
.sub-nav a {
    color: #fff;
}

/* Section 1 */
.sec1, .sec2 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Article 1 */
.art1 {
    display: flex;
    margin-top: 10vh;
    padding: 2vh 5vw;
    animation: fadeInFromLeft 1s ease-out forwards;
}
.art1_part1 {
    padding: 20px;
    border: 2px solid #777777;
    border-radius: 10px;
    text-align: center;
    font-family: "Inter", sans-serif;
}
.art1_part1 h2 {
    font-size: 2rem;
    font-weight: 400;
}
.art1_part1 h3 {
    font-size: 1rem;
    font-weight: 200;
    letter-spacing: 1px;
}
.art1_part1 p {
    font-size: 0.7rem;
    font-weight: 200;
    letter-spacing: 2px;
}
.art1_part1 hr {
    border: none;
    background-color: #ff4654;
    height: 2px;
}

/* Article 2 */
.art2 {
    display: flex;
    margin-top: 5vh;
    padding: 2vh 5vw;
    animation: fadeInFromLeft 1s ease-out forwards;
}
.art2 > div > div p {
    font-weight: 300;
    font-size: 1.8rem;
}
.valo h1 {
    font-weight: 200;
    font-size: 3rem;
    color: #ff4654;
    font-family: "Valorant";
}
.valo p {
    color: #ff8189;
}
.bgmi h1 {
    color: #fc9b0e;
    font-family: "BGMI";
    font-size: 3.5rem;
    letter-spacing: 1px;
    font-weight: 200;
}
.bgmi p {
    color: #fcbd0e;
}
.ctf h1 {
    color: cyan;
    font-size: 3rem;
    font-weight: 400;
}
.ctf p {
    color: rgb(21, 184, 184);
}
.img2 {
    position: absolute;
    right: 0;
    width: 35%;
    top: -100px;
}
.img2_valo {
    filter: drop-shadow(0px 0px 90px #7ad3e3);
}
.img2_bgmi {
    filter: drop-shadow(0px 0px 90px #fc9b0e);
}
.reg_btn_div {
    display: inline-block;
    margin-top: 40px;
    padding: 5px;
    border: 1px solid #fff;
    border-radius: 8px;
}
.reg_btn_div a {
    display: block;
    padding: 10px 20px;
    color: #fff;
    font-size: 1.3rem;
    font-family: "Inter", sans-serif;
    border-radius: 8px;
    text-decoration: none;
}
.reg_valo a {
    background-color: #ff4654;
}
.reg_bgmi a {
    background-color: #fc9b0e;
}
.reg_ctf a {
    background-color: #14a8c2;
}
.reg_fee {
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 200;
}

/* Article 3  */

/* Font Add */
@font-face {
    font-family: "Valorant";
    src: url(Font/Valorant\ Font.ttf);
}

@font-face {
    font-family: "BGMI";
    src: url(Font/PUBG\ SANS.ttf);
}

@media (max-width: 800px) {
    header {
        display: none;
    }
    .sec1, .sec2 {
        height: auto;
        padding: 30px 0px;
    }
    .art1 {
        margin-top: 20px;
    }
    .art1_part1 {
        padding: 10px;
    }
    .art1_part1 h2 {
        font-size: 1rem;
    }
    .art1_part1 h3 {
        font-size: 0.5rem;
    }

    .valo h1 {
        font-size: 1.5rem;
    }
    .bgmi h1 {
        font-size: 2rem;
    }
    .ctf h1 {
        font-size: 1.5rem;
    }
    .art2 > div > div p {
        font-size: 0.9rem;
    }
    .art2 {
        flex-direction: column;
    }
    .reg_btn_div a {
        padding: 8px 16px;
    }
    .img2 {
        display: none;
    }
    .reg_fee {
        font-size: 0.6rem;
    }
    .reg_btn_div a {
        font-size: 0.8rem;
    }
}