/* Header Reset */
header img, .nav_ext{
    display: none;
}
header {
    background:#0b141f;
    justify-content: center;
    padding: 10px 0px;
}
header a {
    color: #fff;
    padding: 10px 5vw;
    font-family: "Valorant";
}
header a:hover {
    background-color: transparent;
    color: #ff4654;
    border-radius: 20px;
}
.sub-nav {
    background-color: #0b141f;
    border: none;
    border-radius: 20px;
}
.sub-nav a {
    color: #fff;
}

/* Section 1 */
.sec1 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}
.sec1 > img {
    position: absolute;
    z-index: -999;
}
.valo_ph {
    bottom: -40vh;
    right: 0;
    width: 70vh;
}

/* Article 1 */
.art1 {
    display: flex;
    margin-top: 10vh;
    padding: 2vh 5vw;
    animation: fadeInFromLeft 1s ease-out forwards;
}
.art1_part1 {
    padding: 20px;
    border: 2px solid #777777;
    border-radius: 10px;
    text-align: center;
    font-family: "Inter", sans-serif;
}
.art1_part1 h2 {
    font-size: 2rem;
    font-weight: 400;
}
.art1_part1 h3 {
    font-size: 1rem;
    font-weight: 200;
    letter-spacing: 1px;
}
.art1_part1 p {
    font-size: 0.7rem;
    font-weight: 200;
    letter-spacing: 2px;
}
.art1_part1 hr {
    border: none;
    background-color: #ff4654;
    height: 2px;
}

/* Article 2 */
.art2 {
    margin-bottom: 10vh;
    padding: 2vh 5vw;
    animation: fadeInFromLeft 1s ease-out forwards;
}
.art2 h1 {
    font-size: 3rem;
    font-family: "Valorant";
    font-weight: 100;
    color: #ff4654;
}
.art2 p {
    font-size: 1.8rem;
    font-weight: 300;
    color: #ff8189;
}
.art2_btn_div {
    display: inline-block;
    margin-top: 40px;
    padding: 5px;
    border: 1px solid #fff;
    border-radius: 8px;
}
.art2 a {
    display: block;
    padding: 10px 20px;
    background-color: #ff4654;
    color: #fff;
    font-size: 1.3rem;
    font-family: "Inter", sans-serif;
    border-radius: 8px;
    text-decoration: none;
}

/* Article 3 */
.art3 {
    display: flex;
    flex-direction: column;
    animation: fadeInFromLeft 1s ease-out forwards;
}
.art3 > p {
    background-color: #ff4654;
    padding: 5px 0px;
    text-align: center;
    font-weight: 300;
}
.art3 > div {
    display: flex;
    justify-content: space-between;
    padding: 0vh 5vw;
}

/* Font Add */
@font-face {
    font-family: "Valorant";
    src: url(Font/Valorant\ Font.ttf);
}