#dotsCanvas {
    height: 100vh;
    width: 100vw;
    z-index: -10;
    position: absolute;
}

/* Sections */

.sec2 {
    display: flex;
    padding: 5vh 5vw;
    background-color: var(--background-color);
    align-items: center;
    justify-content: space-between;
}
.home_abt_img {
    width: 20vw;
}
.sec4 {
    padding: 5vh 5vw;
    background: #eeeeee;
}

/* Article 1 */
.art1 {
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: center;
    align-items: center;
    animation: fadeInFromTop 1s ease-out forwards;
}
.art1 p {
    font-size: 1.4rem;
    letter-spacing: 3px;
    font-family: "Inter", sans-serif;
    font-weight: 200;
    color: #b4b4b4;
    margin-top: 8vh;
    filter: drop-shadow(0px 0px 50px #7ad3e3);
}
.art1 h1 {
    font-size: 5rem;
    font-family: sans-serif;
    filter: drop-shadow(0px 0px 50px #7ad3e3);
}
.art1 hr {
    border: none;
    height: 2px;
    background-color: #00e8ff;
}
.art1 h3 {
    font-size: 1.2rem;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    color: rgb(0, 255, 221);
    filter: drop-shadow(0px 0px 50px #7ad3e3);
}

/* hero_partners */
.hero_partners {
    display: flex;
    justify-content: center;
    /* height: 10vh; */
    width: 90vw;
    margin: 20px auto;
}
.hero_prt {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    text-align: center;
    width: 20vw;
}
.hero_prt div {
    background: #eeeeee;
    padding: 20px 0px;
    height: 7vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero_prt p {
    margin-bottom: 10px;
    color: rgba(255, 255, 255, 0.8);
}

.hero_prt div img {
    width: 150px;
}
.hero_prt div h3 {
    font-weight: 900;
    color: rgb(202, 0, 0);
    font-size: 1.2rem;
}
.hero_prt div h4 {
    font-weight: 300;
    font-size: 0.8rem;
    color: #000;
}
.round_left {
    border-radius: 10px 0px 0px 10px;
}
.round_right {
    border-radius: 0px 10px 10px 0px;
}

/* Article 2 */
.art2 {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin: 0 auto;
    height: 10vh;
    background-color: var(--color-type-1);
    font-family: "Inter", sans-serif;
    z-index: 100;
    background: rgb(110, 102, 209);
    animation: fadeInFromBottom 1s ease-out forwards;
    background: linear-gradient(90deg, rgb(110, 102, 209) 0%, rgb(131, 66, 209) 100%);
}
.art2 hr {
    align-self: unset;
    width: 2px;
    border: none;
    height: 7vh;
    background-color: var(--background-color);
}
.art2 svg {
    padding: 10px;
    box-sizing: unset;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}
.art2>div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35vw;
}
.art2>div>div {
    padding-left: 20px;
}
.art2>div>div h3 {
    font-weight: 400;
}
.art2>div>div p {
    font-weight: 200;
}

/* Article 3 */
.art3 {
    width: 60vw;
}
.art3 div {
    padding-bottom: 20px;
}
.art3 div p {
    font-size: 1rem;
    font-weight: 100;
    letter-spacing: 2px;
}
.art3 div h2 {
    font-size: 2.5rem;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    color: var(--third-color);
}
.art3>p {
    font-weight: 200;
    color: var(--first-color);
}

/* Article 4 */
.art4 {
    display: flex;
    flex-direction: column;
    padding: 5vh 18vw;
    background: rgb(101, 77, 160);
    background: linear-gradient(180deg, rgba(101, 77, 160, 1) 0%, rgba(182, 35, 127, 1) 50%, rgba(249, 156, 8, 1) 100%);
}
.art4_top {
    align-self: center;
    color: #fff;
}
.art4_top h2 {
    font-size: 2.5rem;
    font-weight: 400;
    font-family: "Inter", sans-serif;
}
.art4_ppls {
    margin: 5vh 0vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.art4_ppls>div {
    background-color: #fff;
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    margin: 10px;
    margin-bottom: 50px;
    overflow: hidden;
    border-radius: 20px;
}
.art4_ppls>div img {
    height: 300px;
    width: 240px;
    border-radius: 20px 20px 0px 0px;
    background-color: #464646;
}
.art4_ppls>div>div {
    padding: 10px 5px;
}
.art4_ppls>div>div h4 {
    color: #000;
    font-size: 1rem;
    font-weight: 400;
}
.art4_ppls>div>div p {
    font-size: 0.8rem;
    color: #464646;
}

/* Article 5 */

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}
.logos {
    overflow: hidden;
    padding: 50px 0;
    background: #eeeeee;
    white-space: nowrap;
    position: relative;
}
.logos:before,
.logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
}
.logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), #eeeeee);
}
.logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #eeeeee);
}
.logos:hover .logos-slide {
    animation-play-state: paused;
}
.logos-slide {
    display: inline-block;
    animation: 35s slide infinite linear;
}
.logos-slide img {
    height: 80px;
    margin: 0 40px;
}

/* Article 6 */

/* Article 7 */
.art7 {
    display: flex;
    flex-direction: column;
    padding: 5vh 0vw;
}
.art7_top {
    align-self: center;
}
.art7_top h2 {
    font-size: 2.5rem;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    color: #000;
}
.art7_top hr {
    background-color: #5d97d1;
}
.faq {
    margin: 30px;
}
.faq-item {
    margin-bottom: 5px;
    border-bottom: 1px solid #000;
    background-color: #c0c0c0;
}
.faq-item h4 {
    cursor: pointer;
    color: #000000;
    font-size: 1.1rem;
    padding: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}
.faq-answer {
    display: none;
    /* Hides the answer initially */
    font-size: 1rem;
    margin-top: 8px;
    padding: 20px;
    font-weight: 300;
    color: #1b1b1b;
}

@media (max-width: 800px) {
    .sec1 {
        height: auto;
    }

    /* Article 1 */
    .art1 {
        text-align: center;
        height: 75vh;
    }
    .art1 p {
        font-size: 0.7rem;
    }
    .art1 h1 {
        font-size: 2rem;
    }
    .art1 h3 {
        font-size: 0.7rem;
    }

    /* Article 2 */
    .art2 {
        height: auto;
        padding: 0px;
        flex-direction: column;
    }
    .art2 hr {
        display: none;
    }
    .art2>div {
        width: auto;
        margin: 2vh 0vw;
    }
    .art2>div>div {
        padding-left: 30px;
    }
    .art2>div>div h3 {
        font-size: 1rem;
    }
    .art2>div>div p {
        font-size: 0.7rem;
    }

    /* Article 3 */
    .home_abt_img {
        display: none;
    }
    .art3 {
        width: auto;
    }
    .art3_ext {
        display: none;
    }
    .art3 br {
        display: none;
    }
    .art3 div p {
        font-size: 0.8rem;
    }
    .art3 div h2 {
        font-size: 2rem;
    }
    .art3 div h5 {
        font-size: 0.7rem;
    }

    /* Article 4 */
    .art4 {
        padding: 5vh 3vw;
    }
    .art4_top h2 {
        font-size: 2rem;
    }
    .art4_ppls > div {
        border-radius: 10px;
    }
    .art4_ppls>div img {
        height: 177.5px;
        width: 140px;
        border-radius: 10px 10px 0px 0px;
        border-radius: 10px;
    }
    .art4_ppls {
        margin-bottom: 0;
    }
    .art4_ppls>div>div h4 {
        font-size: 0.8rem;
    }
    .art4_ppls>div>div p {
        font-size: 0.5rem;
        color: #464646;
    }

    /* Article 5 */
    .logos {
        overflow: hidden;
        padding: 30px 0;
        background: #5d97d1;
        white-space: nowrap;
        position: relative;
    }
    .logos:before {
        left: 0;
        background: transparent;
    }
    .logos:after {
        right: 0;
        background: transparent;
    }
    .logos-slide img {
        height: 50px;
        margin: 0 30px;
    }

    /* Article 7 */
    .art7_top h2 {
        font-size: 1.6rem;
        text-align: center;
    }
    .faq {
        margin: 30px 0px;
    }
    .faq-item h4 {
        font-size: 0.9rem;
    }
    .faq-answer {
        font-size: 0.8rem;
    }
}

@media (max-width: 350px) {
    .art4_ppls>div img {
        height: 197.5px;
        width: 160px;
    }
}