/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* CSS Variables */
:root {
    /* Text */
    --first-color: #fff;
    --second-color: #b40f67;
    --third-color: #008484;
    /* Color-Type */
    --color-type-1: #111111;
    --color-type-2: #141414;
    --hr-color: #fff;
    /* Background */
    --background-color: #0c1439;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--background-color);
    color: var(--first-color);
    font-family: "Inter", sans-serif;
}

body::-webkit-scrollbar {
    width: 0px;
}

html {
    scroll-behavior: smooth;
}

.glob_hr {
    border: none;
    background-color: var(--third-color);
    height: 2px;
}

/* Header */
header {
    display: flex;
    position: fixed;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
    height: 8vh;
    transition: top 0.3s;
    background-color: #fff;
    z-index: 1000;
    animation: fadeInFromTop 1s ease-out forwards;
}

header img {
    width: 220px;
    height: auto;
}

header nav {
    display: flex;
    align-items: center;
}

header nav ul {
    display: flex;
    list-style-type: none;
    position: relative;
}

header nav ul li {
    position: relative;
}

header a {
    color: #2b2b2b;
    text-decoration: none;
    padding: 10px 2vw;
    font-size: 15px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
}

header a:hover {
    color: #000;
    background-color: #bebebe;
    transition: 0.3s;
}

/* Sub-Navigation */
.sub-nav {
    display: none;
    position: absolute;
    width: auto;
    top: 100%;
    left: 0;
    margin-top: 10px;
    background-color: #fff;
    border: 1px solid #acacac;
}

header nav ul li:hover .sub-nav {
    display: block;
}

.sub-nav li {
    padding: 8px 1vw;
}

.sub-nav a {
    color: #000;
    text-decoration: none;
    font-size: 14px;
    padding: 10px 1vw;
    display: block;
    white-space: nowrap;
}

.nav_ext {
    padding: 10px 30px;
    color: #fff;
    border-radius: 5px;
    font-weight: 600;
}
.reg {
    background-color: #008484;
}
.reg:hover {
    background-color: #006363;
    color: #fff;
}

/* Menu Button */
.menu-button {
    display: none;
}

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
    /* background-color: var(--color-type-1); */
    justify-content: space-between;
    font-family: "Inter", sans-serif;
    animation: fadeInFromBottom 1s ease-out forwards;
    /* display: none; */
    background-color: #0c1439;
}

footer hr {
    margin: 20px 0px;
    border: none;
    background-color: var(--hr-color);
    width: 1px;
}
.foot1 {
    display: flex;
	justify-content: space-between;
}
.foot1_icons div {
    display: flex;
}
.foot1_links {
    display: flex;
    flex-direction: column;
}
.foot1_links_div {
	display: flex;
	flex-direction: column;
}
.foot1 > div {
    width: 40vw;
	height: auto;
}
.foot1_links div {
    display: flex;
    padding: 10px 0px;
}
.foot1_links_div div {
	display: flex;
	align-items: center;
}
.foot1_links_div img {
    width: 20px;
    height: 20px;
    filter: invert(100%);
}

.foot1_links_div a {
    font-weight: 200;
    padding-left: 20px;
    color: var(--first-color);
    text-decoration: none;
}

.foot1_links h3,
.foot2 h3 {
    font-size: 1.5em;
    font-weight: 400;
}

.foot1_icons {
    display: flex;
    justify-content: space-around;
}

.foot1_icons img {
    height: 30px;
    width: 30px;
}

.foot2 {
	margin-top: 50px;
}

/* Query Form */
#query-form {
    display: flex;
    flex-direction: column;
}

#query-form label {
    font-size: 1rem;
    font-weight: 300;
    margin: 10px 0 5px;
    color: var(--first-color);
}

#query-form input[type="text"],
#query-form input[type="number"],
#query-form input[type="email"],
#query-form textarea {
    padding: 10px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    background-color: #ffffff28;
    color: var(--first-color);
    font-family: sans-serif;
    resize: none;
    width: 100%;
    box-sizing: border-box;
}

#query-form input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Styling for placeholder text */
#query-form input::placeholder,
#query-form textarea::placeholder {
    color: #b1b1b1;
    font-size: 0.8rem;
    font-weight: 200;
}

/* Style for button */
#query-form button {
    margin-top: 15px;
    padding: 10px;
    font-size: 1em;
    color: var(--first-color);
    background-color: var(--third-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#query-form button:hover {
    background-color: #47c94e;
}

/* Flex styling for row of inputs */
.input-row {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.input-half {
    flex: 1;
}

.input-half input {
    margin-top: 5px;
}

.cpyrht {
    background: #a87128;
    display: flex;
    padding: 10px 0px;
    justify-content: center;
}

/* Animations */
@keyframes fadeInFromTop {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInFromBottom {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInFromRight {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}



/* Working */
.working {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.working h1 {
    font-size: 4rem;
    color: rgba(255, 255, 255, 0.3);
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

/* Floating Ham */
.float-menu {
    display: none;
    position: fixed;
    height: 50px;
    width: 50px;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    background-color: #ffae00;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 15px;
    font-size: 24px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

/* Floating Navigation Menu */
.float-nav {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 130%;
    background-color: var(--background-color);
    color: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease-in-out;
    padding: 20px;
    z-index: 9998;
}

.float-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.float-nav ul li {
    margin: 50px 0;
}

.float-nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 300;
    font-family: "Inter", sans-serif;
}

.float-nav ul li a:hover {
    color: #00bcd4;
}

/* Show menu when active */
.float-nav.active {
    right: 0;
}

/* Change menu icon when active */
.float-menu.active {
    background-color: #ffae00;
    /* Change button background */
}

@media (max-width: 800px) {
    
    header {
        justify-content: center;
    }
    header nav {
        display: none;
    }
    header div {
        display: none;
    }

    footer {
        flex-direction: column;
        padding: 15px 10px;
    }
    .foot1 > div {
        width: auto;
    }
    .foot1_map {
        display: none;
    }
    footer article {
        width: auto;
    }
    footer hr {
        display: none;
    }
    .float-menu {
        display: flex;
    }
    .cpyrht {
        font-size: 0.7rem;
    }
}