/* Sections */
.sec1 {
    padding: 5vh 5vw;
    font-family: "Inter", sans-serif;
}
.sec2 {
    padding: 5vh 5vw;
    font-family: "Inter", sans-serif;
    background: linear-gradient(180deg, rgba(101,77,160,1) 0%, rgba(182,35,127,1) 50%, rgba(249,156,8,1) 100%);
}
.sec3 {
    background: #fff;
    font-family: "Inter", sans-serif;
    padding-bottom: 8vh;
}

/* Main Arts */
.art1 {
    display: flex;
    flex-direction: column;
}
.art1_top {
    padding-top: 10vh;
    align-self: center;
    text-align: center;
    padding-bottom: 50px;
}
.art1_top h1 {
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 2px;
    color: var(--hr-color);
}
.sub_head_h2 {
    font-size: 1.4rem;
    font-weight: 200;
    padding-left: 10px;
    border-left: 5px solid var(--hr-color);
}
.sub_head_h2 strong {
    color: var(--second-color);
}

/* Arts */
.art2_topic {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 15px;
}
.art2_topic {
    animation: fadeInFromLeft 1s ease-out forwards;
}
.art2_topic_rev {
    animation: fadeInFromRight 1s ease-out forwards;
}
.art2_topic_text {
    width: 65vw;
}
.art2_topic_text h3 {
    font-weight: 400;
    font-size: 1.3rem;
    padding-bottom: 10px;
    color: var(--second-color);
}
.art2_topic_text p {
    font-weight: 200;
    color: var(--first-color);
}
.art2_topic_image {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
}
.art2_topic_image img {
    width: 150px;
    height: 150px;
    background-color: gray;
    border-radius: 50%;
}
.art2_topic_image h4 {
    font-weight: 300;
    font-size: 0.9rem;
    color: var(--second-color);
}
.art2_topic_image p {
    font-weight: 200;
    font-size: 0.7rem;
    color: var(--third-color);
}
.art2_topic_outcome ul {
    margin: 10px 20px;
    font-weight: 200;
}
.art2_topic_outcome li {
    padding: 5px 0px;
    color: #d4d4d4;
    font-size: 1rem;
}
.art2_topic_outcome li::marker {
    color: var(--second-color);
}

/* Article 3 */
.art3, .art4, .art5, .art7 {
    margin: 5vh 0px;
}
.art3 > .sub_head_h2 strong,  .art4 > .sub_head_h2 strong, .art5 > .sub_head_h2 strong, .art7 > .sub_head_h2 strong {
    color: #00e8ff;
}
.art3 ul {
    margin: 10px 20px;
    font-weight: 200;
}
.art3 li {
    padding: 5px 0px;
    font-size: 1.1rem;
}
.art3 li::marker {
    color: var(--third-color);
}

/* Article 4 */
.art4 p {
    margin: 10px 20px;
    font-weight: 300;
    font-size: 1.1rem;
}

/* Article 5 */
.art5 div {
    margin: 20px 20px;
}
.art5 div h3 {
    font-size: 1.2rem;
    font-weight: 400;
}
.art5 div p {
    font-size: 1rem;
    margin: 3px 20px;
    font-weight: 400;
    color: #d4d4d4;
}
.art5 div ul {
    margin: 10px 40px;
    font-weight: 300;
}
.art5 div li {
    padding: 5px 0px;
    font-size: 1rem;
}

/* Article 6 */

/* Article 7 */
.art7 p {
    margin: 10px 20px;
    font-weight: 300;
    font-size: 1.1rem;
}

/* Article 8 */
.art8_ext {
    background-color: #5d97d1;
    text-align: center;
    padding: 40px 0px;
    font-weight: 400;
    font-size: 2rem;
}
.art8 {
    margin: 0vh 5vw;
    margin-top: 8vh;
    color: #000;
}
.art8 h3 {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 1px;
}
.art8 p {
    font-size: 1.1rem;
    font-weight: 300;
    color: #2b2b2b;
    margin-top: 10px;
    margin-left: 10px;
}

@media (max-width: 800px) {
    .sec1, .sec2{
        padding: 2vh 2vw;
    }
    
    .art1_top h1 {
        font-size: 1.3rem;
        letter-spacing: 0px;
    }
    .sub_head_h2 {
        font-size: 1rem;
        padding-left: 5px;
    }
    .art2_topic {
        flex-direction: column;
        margin: 50px 10px;
    }
    .art2_topic_text {
        width: auto;
    }
    .art2_topic_rev {
        flex-direction: column-reverse;
    }
    .art2_topic_text h3 {
        font-size: 1rem;
    }
    .art2_topic_text p {
        font-size: 0.8rem;
    }
    .art2_topic_image {
        width: auto;
        margin-bottom: 10px;
    }
    .art2_topic_outcome li {
        font-size: 0.8rem;
    }

    /* Article 3 */
    .art3 li {
        font-size: 0.8rem;
    }

    /* Article 4 */
    .art4 p {
        font-size: 0.8rem;
    }

    /* Article 5 */
    .art5 div h3 {
        font-size: 1rem;
    }
    .art5 div p {
        font-size: 0.8rem;
    }
    .art5 div li {
        font-size: 0.8rem;
    }

    /* Article 7 */
    .art7 p {
        font-size: 0.8rem;
    }

    /* Article 8 */
    .art8_ext {
        font-size: 1rem;
    }
    .art8 h3 {
        font-size: 1rem;
    }
    .art8 p {
        font-size: 0.8rem;
    }

}